em {
    color: #FF0000;
    font-size: 15px;
}

#license_license_request_domain {
    height: 100px;
}

#license_license_request_mac_id {
    height: 100px;
}

.doc-title {
    color: #eb4d00;
    font-size: 1.2em;
    font-weight: bold;
}

.support-adminhtml-support-doc .help {
    color: gray;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 15px;
}

.support-adminhtml-support-new #support_tabs {
    display: none;
}

.content-header-support {
    border-bottom: 4px solid #dfdfdf;
    margin-bottom: 18px;
    padding-bottom: 0.25em;
}

.content-header-support::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.content-header-support h3 {
    color: #eb5e00;
    float: left;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 0.3em 0.5em 0 0;
}

.support-adminhtml-support-new .content-header {
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.s-left {
    color: #fff;
    float: right;
    font-size: 16px;

}

.s-left, .support-adminhtml-support-doc .help {
    cursor: pointer;
}

#row_license_license_detail_license_key #licence_key {
    width: 335px;
}

.license-change {
    margin-bottom: 10px;
}

.popupsuccsess {
    background: none repeat scroll 0 0 green;
    color: #FFFFFF;
    display: block;
    padding: 0px 5px;
    text-align: center;
    /*font-weight: bold;*/
    font: bold 10px/16px Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
}

.popuperror {
    background: none repeat scroll 0 0 #e41101;
    color: #FFFFFF;
    display: block;
    padding: 0px 5px;
    text-align: center;
    /*font-weight: bold;*/
    font: bold 10px/16px Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
}

.popupprocessing {
    background: none repeat scroll 0 0 #f55600;
    color: #FFFFFF;
    display: block;
    padding: 0px 5px;
    text-align: center;
    /*font-weight: bold;*/
    font: bold 10px/16px Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
}

.popupdefault {
    background: none repeat scroll 0 0 #ccc;
    color: #333;
    display: block;
    padding: 0px 5px;
    text-align: center;
    /*font-weight: bold;*/
    font: bold 10px/16px Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
}

/*Change license button and delete license button*/

.license-change {
    margin-bottom: 10px;
    width: 100%;
}

/*Emarsys icon */

.emarsys_logo em {
    float: left;
    color: #324066;
    font-style: normal;
    font-size: 14px;
}

.acu-config-title {
    margin-top: 4px;
}

/* Emarsys LOGO css*/
.admin__menu #menu-emarsys-emarsys-parent > a:before {
    opacity: 1;
    content: '';
    font-size: 2.4rem;
    display: block;
    position: relative;
    top: -0.3rem;
    width: 28px;
    height: 28px;
    background: url(../images/emarsys/emarsys.png);
    background-size: 28px 30px;
    margin: 0 auto;
}

.mapping-select {
    margin-bottom: 5px;
}

.json-request-button {
    margin: 0px 15px 0px 15px;
}

.json-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 998; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.json-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 950px;
    height: 600px;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-image {
    height: 30px;
    width: 30px;
}

.json-modal-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

.json-modal-header {
    height: 50px;
    width: 100%;
}

#json-data-container {
    overflow-x: scroll;
    height: 500px;

}
