.formselect
{
    float:left;
    margin: 5px;
}

span.scalable
{
     float:right;
}
.admin__control-select.mapping-select.formselect{
    align-items:center;
}

.emMapping {
    float: left;
    position: relative;
    top: 4px;
    font-weight: 700;
}

.selectMapping{
    display: inline-block;
    position: relative;
    top: -6px;
}


