<?xml version="1.0"?>
<!--
/**
 * @category   Emarsys
 * @package    Emarsys_Emarsys
 * @copyright  Copyright (c) 2017 Emarsys. (http://www.emarsys.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Emarsys_Emarsys::emarsys" title="Emarsys Connect" sortOrder="100">
                    <resource id="Emarsys_Emarsys::settings" title="Settings" sortOrder="10">
                        <resource id="Emarsys_Emarsys::emarsys_setting_connection" title="Connection" sortOrder="10"/>
                        <resource id="Emarsys_Emarsys::emarsys_setting_synchronization" title="Contact Synchronization"
                                  sortOrder="20"/>
                        <resource id="Emarsys_Emarsys::emarsys_setting_opt_in" title="Opt-In" sortOrder="30"/>
                        <resource id="Emarsys_Emarsys::emarsys_transactionmail" title="Transaction Email"
                                  sortOrder="40"/>
                        <resource id="Emarsys_Emarsys::emarsys_smartinsight" title="Smart Insight" sortOrder="40"/>
                        <resource id="Emarsys_Emarsys::emarsys_predict" title="Product Catalog" sortOrder="40"/>
                        <resource id="Emarsys_Emarsys::emarsys_web_extend" title="Web Extend" sortOrder="40"/>
                        <resource id="Emarsys_Emarsys::emarsys_emarsys_admin_logs" title="Logs" sortOrder="40"/>
                    </resource>
                    <resource id="Emarsys_Emarsys::mapping" title="Mappings" sortOrder="20">
                        <resource id="Emarsys_Emarsys::emarsys_customer_mapping" title="Customer Mapping" sortOrder="10"/>
                        <resource id="Emarsys_Emarsys::emarsys_field_mapping" title="Customer-Field Mapping" sortOrder="10"/>
                        <resource id="Emarsys_Emarsys::emarsys_emarsys_product_mapping" title="Product Mapping" sortOrder="10"/>
                        <resource id="Emarsys_Emarsys::emarsys_emarsys_event_mapping" title="Event Mapping" sortOrder="10"/>
                        <resource id="Emarsys_Emarsys::emarsys_order_mapping" title="Order Mapping" sortOrder="10"/>
                    </resource>
                    <resource id="Emarsys_Emarsys::operations" title="Operations" sortOrder="30"/>
                    <resource id="Emarsys_Emarsys::help" title="Help" sortOrder="40"/>
                    <resource id="Emarsys_Emarsys::support" title="Support" sortOrder="40"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
