<?xml version="1.0"?>
<!--
/**
 * @category   Emarsys
 * @package    Emarsys_Emarsys
 * @copyright  Copyright (c) 2017 Emarsys. (http://www.emarsys.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Emarsys_Emarsys::EmarsysLog" title="EmarsysLog" sortOrder="100"/>
                <resource id="Emarsys_Emarsys::EmarsysScheduler" title="EmarsysScheduler" sortOrder="100"/>
                <!--AddMenuAcl-->
            </resource>
        </resources>
    </acl>
</config>
