<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emarsys_settings>
            <emarsys_setting>
                <enable>0</enable>
                <emarsys_api_endpoint>default</emarsys_api_endpoint>
            </emarsys_setting>
            <ftp_settings>
                <hostname>exchange.si.emarsys.net</hostname>
                <port>21</port>
                <ftp_bulk_export_dir>/</ftp_bulk_export_dir>
                <useftp_overssl>1</useftp_overssl>
                <usepassive_mode>1</usepassive_mode>
            </ftp_settings>
        </emarsys_settings>
        <contacts_synchronization>
            <emarsys_emarsys>
                <realtime_sync>0</realtime_sync>
                <background_frequency>Daily</background_frequency>
                <unique_field>email</unique_field>
            </emarsys_emarsys>
        </contacts_synchronization>
        <opt_in>
            <optin_enable>
                <enable_optin>0</enable_optin>
            </optin_enable>
            <subscription_checkout_process>
                <newsletter_sub_checkout_yes_no>0</newsletter_sub_checkout_yes_no>
            </subscription_checkout_process>
        </opt_in>
        <transaction_mail>
            <transactionmail>
                <enable_customer>0</enable_customer>
            </transactionmail>
            <schema_check>
                <background_frequency_schema>Daily</background_frequency_schema>
            </schema_check>
        </transaction_mail>
        <smart_insight>
            <smart_insight>
                <smartinsight_enabled>0</smartinsight_enabled>
                <exportusing_emailidentifier>0</exportusing_emailidentifier>
                <exportguest_checkoutorders>0</exportguest_checkoutorders>
                <smartinsightfrequency>Daily</smartinsightfrequency>
                <orderexportforstatus>complete,processing,closed</orderexportforstatus>
            </smart_insight>
        </smart_insight>
        <emarsys_predict>
            <feed_export>
                <enable_nightly_product_feed>0</enable_nightly_product_feed>
            </feed_export>
            <web_extend>
                <recommended_product_pages>
                    <recommended_home_page>||</recommended_home_page>
                    <recommended_category_page>||</recommended_category_page>
                    <recommended_product_page>||</recommended_product_page>
                    <recommended_cart_page>||</recommended_cart_page>
                    <recommended_order_thankyou_page>||</recommended_order_thankyou_page>
                    <recommended_nosearch_result_page>||</recommended_nosearch_result_page>
                </recommended_product_pages>
                <javascript_tracking>
                    <enable_javascript_integration>0</enable_javascript_integration>
                </javascript_tracking>
            </web_extend>
            <logs>
                <log_setting>
                    <log_days>15</log_days>
                    <log_cleaning>0</log_cleaning>
                    <log_report>0</log_report>
                </log_setting>
            </logs>
        </emarsys_predict>
    </default>
</config>