<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_contacts_synchronization">
        <observer name="cronCustomerSyncObserver" instance="Emarsys\Emarsys\Model\Observer\SectionSave"/>
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="admin_edit_customer" instance="Emarsys\Emarsys\Model\Observer\RealTimeCustomer"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="order_save_after" instance="Emarsys\Emarsys\Model\Observer\OrderSave"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="sales_order_creditmemo_save_after" instance="Emarsys\Emarsys\Model\Observer\CreditmemoSave"/>
    </event>
    <event name="newsletter_subscriber_save_commit_after">
        <observer name="admin_newsletter_subscription" instance="Emarsys\Emarsys\Model\Observer\RealTimeAdminSubscriber"
                  shared="false"/>
    </event>
</config>
