<?xml version="1.0"?>
<!--
/**
 * @category  Emarsys
 * @package   Emarsys_Emarsys
 * @copyright Copyright (c) 2020 Emarsys. (http://www.emarsys.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="emarsys_emarsys" frontName="emarsys_emarsys">
            <module name="Emarsys_Emarsys"/>
        </route>
        <route id="logs" frontName="logs">
            <module name="Emarsys_Emarsys" before="Magento_Backend"/>
        </route>
        <route id="schedulers" frontName="schedulers">
            <module name="Emarsys_Emarsys" before="Magento_Backend" />
        </route>
    </router>
</config>
