<?xml version="1.0"?>
<config>
    <modules>
        <Emarsys_Suite2>
            <version>0.2.2</version>
        </Emarsys_Suite2>
    </modules>
    <global>
        <blocks>
            <emarsys_suite2>
                <class>Emarsys_Suite2_Block</class>
            </emarsys_suite2>
        </blocks>
        <helpers>
            <emarsys_suite2>
                <class>Emarsys_Suite2_Helper</class>
            </emarsys_suite2>
        </helpers>
        <models>
            <emarsys_suite2>
                <class>Emarsys_Suite2_Model</class>
                <resourceModel>emarsys_suite2_resource</resourceModel>
            </emarsys_suite2>
            <emarsys_suite2_resource>
                <class>Emarsys_Suite2_Model_Resource</class>
                <entities>
                    <queue>
                        <table>emarsys_suite2_queue</table>
                    </queue>
                    <email_var>
                        <table>emarsys_suite2_email_var</table>
                    </email_var>
                    <email_event>
                        <table>emarsys_suite2_email_event</table>
                    </email_event>
                    <flag_order>
                        <table>emarsys_suite2_flag_order</table>
                    </flag_order>
                    <flag_creditmemo>
                        <table>emarsys_suite2_flag_creditmemo</table>
                    </flag_creditmemo>
                </entities>
            </emarsys_suite2_resource>
        </models>
        <events>
            <!-- Conditional Rewrite Class -->
            <controller_front_init_before>
                <observers>
                    <emarsys_suite2_rewrite_core_email_template>
                        <type>model</type>
                        <class>emarsys_suite2/observer</class>
                        <method>rewriteCoreEmailTemplate</method>
                    </emarsys_suite2_rewrite_core_email_template>
                </observers>
            </controller_front_init_before>
            <!-- This event is needed for cronjob to have this rewrite working too -->
            <always>
                <observers>
                    <emarsys_suite2_rewrite_core_email_template>
                        <type>model</type>
                        <class>emarsys_suite2/observer</class>
                        <method>rewriteCoreEmailTemplate</method>
                    </emarsys_suite2_rewrite_core_email_template>
                </observers>
            </always>    
            <controller_action_predispatch>
                <observers>
                    <emarsys_suite2_profiler>
                        <class>emarsys_suite2/observer</class>
                        <method>enableProfiler</method>
                    </emarsys_suite2_profiler>
                </observers>
            </controller_action_predispatch>
            <http_response_send_before>
                <observers>
                    <emarsys_suite2_profiler>
                        <class>emarsys_suite2/observer</class>
                        <method>logProfiler</method>
                    </emarsys_suite2_profiler>
                </observers>
            </http_response_send_before>
            <customer_save_before>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>customerSaveBefore</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>customerSaveAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </customer_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <emarsys_suite2_export_order>
                        <class>emarsys_suite2/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </emarsys_suite2_export_order>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <emarsys_suite2_export_order>
                        <class>emarsys_suite2/observer</class>
                        <method>orderSaveAfter</method>
                    </emarsys_suite2_export_order>
                </observers>
            </sales_order_save_commit_after>
            <newsletter_subscriber_save_before>
                <observers>
                    <suite2_subscriber_save_before>
                        <class>emarsys_suite2/observer</class>
                        <method>subscriberSaveBefore</method>
                    </suite2_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>subscriberSaveAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
        <resources>
            <emarsys_suite2_setup>
                <setup>
                    <module>Emarsys_Suite2</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </emarsys_suite2_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <emarsys_suite2_update_contact>
                        <type>singleton</type>
                        <class>emarsys_suite2/observer</class>
                        <method>customerSaveAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </customer_login>
            <customer_address_save_commit_after>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </customer_address_save_commit_after>            
        </events>
        <routers>
            <emarsys_suite2>
                <use>standard</use>
                <args>
                    <module>Emarsys_Suite2</module>
                    <frontName>emarsys_suite2</frontName>
                </args>
            </emarsys_suite2>
        </routers>
        <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <emarsys_suite2_index_sync/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
    </frontend>
    <default>
        <emarsys_suite2_contacts_sync>
            <settings>
                <sync_order>luexim</sync_order>
                <crontab>20 0 * * *</crontab>
                <notification_secret>1234567890</notification_secret>
                <keyid>0</keyid>
            </settings>
        </emarsys_suite2_contacts_sync>
        <emarsys_suite2>
            <settings>
                <api_endpoint>default</api_endpoint>
            </settings>
            <api_endpoints>
                <sandbox>https://demo.s.emarsys.com/api/v2</sandbox>
                <default>https://api.emarsys.net/api/v2</default>
                <cdn>https://api-cdn.emarsys.net/api/v2</cdn>
            </api_endpoints>
        </emarsys_suite2>
        <emarsys_suite2_smartinsight>
            <ftp>
                <host>exchange.si.emarsys.net</host>
                <ssl>1</ssl>
                <passive>1</passive>
            </ftp>
            <settings>
                <crontab>20 0 * * *</crontab>
                <bundle_price_calculated>1</bundle_price_calculated>
                <bundle_include>1</bundle_include>
                <email_as_id>0</email_as_id>
                <use_base_currency>0</use_base_currency>
            </settings>
        </emarsys_suite2_smartinsight>
        <emarsys_suite2_transmail>
            <settings>
                <enabled>0</enabled>
            </settings>
        </emarsys_suite2_transmail>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emarsys_suite2 before="Mage_Adminhtml">Emarsys_Suite2_Adminhtml</emarsys_suite2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <emarsys_suite2 translate="title" module="emarsys_suite2">
                                            <title>Emarsys Suite settings</title>
                                        </emarsys_suite2>
                                        <emarsys_suite2_contacts_sync>
                                            <title>Emarsys Contacts synchronization</title>
                                        </emarsys_suite2_contacts_sync>
                                        <emarsys_suite2_transmail>
                                            <title>Emarsys Transactional E-Mails</title>
                                        </emarsys_suite2_transmail>
                                        <emarsys_suite2_smartinsight>
                                            <title>Emarsys Smart Insight</title>
                                        </emarsys_suite2_smartinsight>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <customer_delete_after>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>customerDeleteAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </customer_delete_after>            
            <newsletter_subscriber_delete_after>
                <observers>
                    <emarsys_suite2_update_contact>
                        <class>emarsys_suite2/observer</class>
                        <method>subscriberDeleteAfter</method>
                    </emarsys_suite2_update_contact>
                </observers>
            </newsletter_subscriber_delete_after>            
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <emarsys_suite2_cron_ping_api>
                <schedule>
                    <config_path>emarsys_suite2/settings/cron_pinger</config_path>
                </schedule>
                <run>
                    <model>emarsys_suite2/observer::pingAPI</model>
                </run>                
            </emarsys_suite2_cron_ping_api>
            <emarsys_suite2_cron_sync_contacts_data>
                <schedule>
                    <config_path>emarsys_suite2_contacts_sync/settings/crontab</config_path>
                </schedule>
                <run>
                    <model>emarsys_suite2/observer::syncContactsData</model>
                </run>                
            </emarsys_suite2_cron_sync_contacts_data>
            <emarsys_suite2_cron_export_contacts>
                <run>
                    <model>emarsys_suite2/observer::exportContacts</model>
                </run>
            </emarsys_suite2_cron_export_contacts>
            <emarsys_suite2_cron_export_subscribers>
                <run>
                    <model>emarsys_suite2/api_subscriber::exportForced</model>
                </run>
            </emarsys_suite2_cron_export_subscribers>
            <emarsys_suite2_cron_export_customers>
                <run>
                    <model>emarsys_suite2/api_customer::exportForced</model>
                </run>
            </emarsys_suite2_cron_export_customers>
            <emarsys_suite2_cron_export_orders>
                <schedule>
                    <config_path>emarsys_suite2_smartinsight/settings/crontab</config_path>
                </schedule>
                <run>
                    <model>emarsys_suite2/observer::exportOrders</model>
                </run>
            </emarsys_suite2_cron_export_orders>
            <emarsys_suite2_cron_import_subscribers>
                <schedule>
                    <cron_expr>10 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>emarsys_suite2/observer::syncContactsSubscriptionData</model>
                </run>
            </emarsys_suite2_cron_import_subscribers>
        </jobs>
    </crontab>    
</config>
