<?xml version="1.0"?>
<!--
/**
 *
 * @category   Webextend
 * @package    Emarsys_Webextend
 * @copyright  Copyright (c) 2017 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
 */
-->
<config>
    <modules>
        <Emarsys_Webextend>
            <version>0.2.2</version>
        </Emarsys_Webextend>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Emarsys_Webextend before="Emarsys_Webextend_Adminhtml">Emarsys_Webextend_Adminhtml</Emarsys_Webextend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <webextend>
                <class>Emarsys_Webextend_Block</class>
            </webextend>
        </blocks>
        <helpers>
            <webextend>
                <class>Emarsys_Webextend_Helper</class>
            </webextend>
        </helpers>
        <models>
            <webextend>
                <class>Emarsys_Webextend_Model</class>
                <resourceModel>webextend_mysql4</resourceModel>
            </webextend>
            <webextend_mysql4>
                <class>Emarsys_Webextend_Model_Mysql4</class>
                <entities>
                    <emarsysproductattributes>
                        <table>emarsys_product_attributes</table>
                    </emarsysproductattributes>
                    <emarsysproductattributesmapping>
                        <table>emarsys_product_attributes_mapping</table>
                    </emarsysproductattributesmapping>
                </entities>
            </webextend_mysql4>
        </models>
        <resources>
            <emarsys_webextend_setup>
                <setup>
                    <module>Emarsys_Webextend</module>
                </setup>
            </emarsys_webextend_setup>
            <emarsys_webextend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emarsys_webextend_write>
            <emarsys_webextend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emarsys_webextend_read>
        </resources>
    </global>
    <frontend>
        <events>
            <newsletter_subscriber_save_after>
              <observers>
                <emarsys_webexted_newsletter_subscriber_save_after>
                  <class>Emarsys_Webextend_Model_Observer</class>
                  <method>newSubscriberEmailAddress</method>
                </emarsys_webexted_newsletter_subscriber_save_after>
              </observers>
            </newsletter_subscriber_save_after>
            <customer_register_success>
              <observers>
                <emarsys_webexted_customer_register_success>
                  <class>Emarsys_Webextend_Model_Observer</class>
                  <method>newCustomerEmailAddress</method>
                </emarsys_webexted_customer_register_success>
              </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <emarsys_webexted_checkout_onepage_controller_success_action>
                        <type>model</type>
                        <class>Emarsys_Webextend_Model_Observer</class>
                        <method>newOrderEmailAddress</method>
                    </emarsys_webexted_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <emarsys_webexted_checkout_multishipping_controller_success_action>
                        <type>model</type>
                        <class>Emarsys_Webextend_Model_Observer</class>
                        <method>newOrderEmailAddress</method>
                    </emarsys_webexted_checkout_multishipping_controller_success_action>
                </observers>
            </checkout_multishipping_controller_success_action>
            <controller_action_predispatch>
                <observers>
                    <emarsys_webextend_controller_action_before>
                        <class>Emarsys_Webextend_Model_Observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </emarsys_webextend_controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
        <routers>
            <webextend>
                <use>standard</use>
                <args>
                    <module>Emarsys_Webextend</module>
                    <frontName>emarsys_webextend</frontName>
                </args>
            </webextend>
        </routers>
        <layout>
            <updates>
                <webextend>
                    <file>webextend.xml</file>
                </webextend>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <webextendsection>
                                            <title>WebExtend</title>
                                        </webextendsection>
                                        <catalogexport>
                                            <title>Full Catalog Export</title>
                                        </catalogexport>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <suite2email module="suite2email">
                            <children>
                                <attributemapping>
                                    <title>Product Attribute Mapping</title>
                                </attributemapping>
                            </children>
                        </suite2email>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <webextend>
                    <file>webextend.xml</file>
                </webextend>
            </updates>
        </layout>
        <menu>
            <suite2email>
                <title>Emarsys</title>
                <children>
                    <attributemapping translate="title" module="webextend">
                        <title>Product Attribute Mapping</title>
                        <action>adminhtml/webextend_attributemapping</action>
                    </attributemapping>
                </children>
            </suite2email>
        </menu>
    </adminhtml>
    <crontab>
        <jobs>
            <emarsys_suite2_cron_export_products>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>webextend/observer::catalogExport</model>
                </run>
            </emarsys_suite2_cron_export_products>
        </jobs>
    </crontab>
    <default>
        <webextendsection>
            <webextendoptions>
                <webextendenabled>0</webextendenabled>
                <identityregistered>email_address</identityregistered>
                <uniqueidentifier>sku</uniqueidentifier>
                <testmode>0</testmode>
                <use_base_currency>0</use_base_currency>
                <tax_included>0</tax_included>
            </webextendoptions>
        </webextendsection>
    </default>
</config>
