<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Emarsys_Support::help"  title="Help" translate="title" module="Emarsys_Support" sortOrder="40" parent="Emarsys_Emarsys::parent"  resource="Emarsys_Support::support"/>
        <add id="Emarsys_Support::support" title="Support" translate="title" module="Emarsys_Support" sortOrder="41" parent="Emarsys_Support::help" action="emarsys_support/support" resource="Emarsys_Support::support"/>
    </menu>
</config>
